.flex-jc-center {
	flex-direction: column;
}

.width {
	width: 100%;
	margin: auto;
}

.icons {
	margin: 20px auto;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.icons > .display-flex { 
	flex-direction: column;
	width: 25%;
}

.icons > .display-flex > div {
	width: 23%; 
	padding-bottom: 23%;
	margin: 6px;
}

.parent-but {
	max-width: 160px;
}

.about-product {
	text-align: center;
}